body {
  background: url('../images/cheers-204742_1920.jpg');
  background-position: bottom;
  min-height: 100%;
  font-family: sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background: #D4D4D4
}
nav a {
  display: inline-block;
  padding: 5px 30px 0 30px;
}
main {
  min-height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: rgba(242, 242, 242, 0.9);
  padding: 20px;
  line-height: 1.5;
}
footer {
  text-align: center;
  background: black;
  color: #DDD;
  font-size: 85%;
  padding-top: 10px;
}

/* Candidate Marking */
.endorsed {
  color: lightgreen;
  background: darkgreen;
}
.endorsed::before {
  content: "💃💃";
  background: white;
}
.endorsed::after {
  content: "💃💃";
  background: white;
}
.repeal {
  color: green;
}
.reform {
  color: darkslategray;
}
.keep {
  color: white;
  background: red;
}
.keep::before {
  content: "😠";
}
.keep::after {
  content: "😠";
}
